{% extends 'base.html' %}
{% block title %}Doctors{% endblock %}
{% block content %}
    <h1>Doctors</h1>
    <form method="POST" class="mb-4">
        <div class="row">
            <div class="col-md-5">
                <input type="text" name="name" class="form-control" placeholder="Name" required>
            </div>
            <div class="col-md-5">
                <input type="text" name="specialty" class="form-control" placeholder="Specialty" required>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success">Add Doctor</button>
            </div>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Specialty</th>
            </tr>
        </thead>
        <tbody>
            {% for doctor in doctors %}
            <tr>
                <td>{{ doctor.name }}</td>
                <td>{{ doctor.specialty }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
