{% extends 'base.html' %}
{% block title %}Patients{% endblock %}
{% block content %}
    <h1>Patients</h1>
    <form method="POST" class="mb-4">
        <div class="row">
            <div class="col-md-4">
                <input type="text" name="name" class="form-control" placeholder="Name" required>
            </div>
            <div class="col-md-2">
                <input type="number" name="age" class="form-control" placeholder="Age" required>
            </div>
            <div class="col-md-4">
                <input type="text" name="condition" class="form-control" placeholder="Condition" required>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success">Add Patient</button>
            </div>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Condition</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr>
                <td>{{ patient.name }}</td>
                <td>{{ patient.age }}</td>
                <td>{{ patient.condition }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
